<div class="container">
  <div class="row py-2 py-xl-4">
    <div class="col-sm-12 col-lg-3"></div>
    <div class="col-sm-12 col-md-6 col-lg-5">
      <h2 class="heading heading__section mt-3 mb-4">Działanie</h2>
        <div class="col-12 mt-3">
          <p class="action__text mb-4"><strong>prawidłowe funkcjonowanie serca</strong><br>(kwasy omega-3 65%: EPA i DHA)</p>
          <p class="action__text mb-4"><strong>korzystny wpływ na układ krążenia</strong><br>(resweratrol)</p>
          <p class="action__text mb-4"><strong>prawidłowy przebieg procesów krwiotwórczych</strong><br>(wit. B6, B12, foliany)</p>
          <p class="action__text"><strong>utrzymanie optymalnego poziomu cukru we krwi</strong><br>(chrom)</p>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <img src="../images/block-4-img.png" alt="Relaxing and Yoga" class="img-fluid">
    </div>
  </div>  
</div>