<div class="container">
  <div class="row pt-md-2 pt-xl-4">
    <div class="col-sm-12 col-lg-3"></div>
    <div class="col-sm-12 col-md-9">
      <h2 class="heading heading__section mt-3 mb-4">Artykuły</h2>

        <figure class="row my-2 my-lg-5">
          <div class="col-md-4">
            <img src="../images/1-1.jpg" alt="Zapobieganie cukrzycy" class="img-fluid">
          </div>
          <figcaption class="col-md-8 my-2 my-lg-0 d-flex align-items-center">Czy powikłaniom cukrzycy można w dużym stopniu zapobiegać?</figcaption>
        </figure>

        <figure class="row my-2 my-lg-5">
          <div class="col-md-4">
            <img src="../images/1-2.jpg" alt="Leczenie cukrzycy" class="img-fluid">
          </div>
          <figcaption class="col-md-8 my-2 my-lg-0 d-flex align-items-center">Jak zapobiegać powikłaniom po cukrzycy?</figcaption>
        </figure>

        <figure class="row my-2 my-lg-5">
          <div class="col-md-4">
            <img src="../images/1-2.jpg" alt="Zdrowia dieta" class="img-fluid">
          </div>
          <figcaption class="col-md-8 my-2 my-lg-0 d-flex align-items-center">Dlaczego powinniśmy zapobiegać powikłaniom cukrzycy?</figcaption>
        </figure>

    </div>
  </div>  
</div>