<div class="container">
  <div class="row pt-md-2 pt-xl-4 mb-3 mb-lg-4">
    <div class="col-sm-12 col-lg-3">
    </div>
    <div class="col-sm-12 col-lg-9">
      <h2 class="heading heading__section mt-3 mb-4">Skład</h2>
      
      <table class="table table-bordered mb-2 mb-lg-4">
        <thead class="thead-light">
          <tr>
            <th scope="col">SKŁADNIK</th>
            <th scope="col">ZAWARTOŚĆ W 1 KAPS.</th>
            <th scope="col">% ZDS*</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="span1">Ekstrakt z aksamitka wzniesionego (Tagetes erecta), w tym:</span><br>
              <span class="span2">Luteina</span><br>
              <span class="span3">Zeaksantyna</span>
            </td>
            <td>
              <span class="span1">50 mg</span><br>
              <span class="span2">10 mg</span><br>
              <span class="span3">2 mg</span>
            </td>
            <td>
              <span class="span1"></span><br>
              <span class="span2">**</span><br>
              <span class="span3"></span>
            </td>
          </tr>

          <tr>
            <td>
              <span class="span1">Ekstrakt z borówki czernicy (Vaccinium myrtillus), w tym:</span><br>
              <span class="span2">Antocyjany</span><br>
            </td>
            <td>
              <span class="span1">50 mg</span><br>
              <span class="span2">12.5 mg</span>
            </td>
            <td>
              <span class="span1">**</span>
            </td>
          </tr>

          <tr>
            <td>
              <span class="span1">Vitamina C</span>
            </td>
            <td>
              <span class="span1">30 mg</span>
            </td>
            <td>
              <span class="span1">37.5</span>
            </td>
          </tr>

          <tr>
            <td>
              <span class="span1">Ekstrakt z czerwonego wina (Vitis vinifera), w tym:</span><br>
              <span class="2">Resweratrol</span>
            </td>
            <td>
              <span class="span1">17 mg</span><br>
              <span class="span2">5.1 mg</span>
            </td>
            <td>
              <span class="span1">**</span>
            </td>
          </tr>

          <tr>
            <td>
              <span class="span1">Cynk</span>
            </td>
            <td>
              <span class="span1">10 mg</span>
            </td>
            <td>
              <span class="span1">100</span>
            </td>
          </tr>

          <tr>
            <td>
              <span class="span1">Witamina E</span>
            </td>
            <td>
              <span class="span1">8,1 mg eqv. alfa-tokoferolu</span>
            </td>
            <td>
              <span class="span1">67.5</span>
            </td>
          </tr>

          <tr>
            <td>
              <span class="span1">Witamina B2</span>
            </td>
            <td>
              <span class="span1">1.4 mg</span>
            </td>
            <td>
              <span class="span1">100</span>
            </td>
          </tr>

          <tr>
            <td>
              <span class="span1">Witamina A</span>
            </td>
            <td>
              <span class="span1">400 µg eqv. retinolu</span>
            </td>
            <td>
              <span class="span1">50</span>
            </td>
          </tr>

          <tr>
            <td>
              <span class="span1">Chrome</span>
            </td>
            <td>
              <span class="span1">20 µg</span>
            </td>
            <td>
              <span class="span1">50</span>
            </td>
          </tr>

        </tbody>
      </table>

      <p class="composition__text">* ZDS - Zalecane Dzienne Spożycie</p>
      <p class="composition__text">** brak ustalonej normy Zalecanego Dziennego 
     Spożycia</p>

    </div>
    <div class="col-sm-0 col-lg-1 col-xl-1"></div>
  </div>  
</div>