<div class="container">
  <div class="row pt-md-1 py-xl-4">
    <div class="col-sm-12 col-lg-3"></div>
    <div class="col-sm-12 col-lg-4">
      <p class="text-sm-left text-lg-right">Więcej informacji o produkcie znajdziesz w ulotce</p>
    </div>
    <div class="col-sm-12 col-lg-5 d-flex align-items-center">
      <button class="px-3 py-2">Pobierz ulotkę 
        <img src="../images/pdf-text-file.png" alt="">
      </button>
    </div>
  </div>
</div>