<div class="container">
  <div class="row py-md-2 py-xl-4 mb-3 mb-lg-4">
    <div class="col-sm-12 col-lg-3"></div>
    <div class="col-sm-12 col-md-7 col-lg-6">
      <h2 class="heading heading__section mt-3 mb-4">Pytania i odpowiedzi</h2>
      
      <article class="qaa__article">
        <h3 class="heading heading__article">Co powinien wiedzieć chory na cukrzycę o powikłaniach ze strony układu sercowo-naczyniowego?</h3>
        <div class="card-body">
          <p class="qaa__text mb-1">Zmiany cukrzycowe dotyczą wszystkich dużych i  małych naczyń krwionośnych. U pacjentów mogą występować m.in.:</p>
          <p class="qaa__text qaa__text--item mb-1">choroba niedokrwienna serca, mogąca prowadzić do zawału serca</p>
          <p class="qaa__text qaa__text--item mb-1">choroba naczyń mózgowych, mogąca prowadzić do udaru</p>
          <p class="qaa__text qaa__text--item mb-1">choroba naczyń obwodowych, mogąca prowadzić do amputacji kończyny</p><br>
          <p class="qaa__text">Choroba niedokrwienna serca jest najczęstszym zespołem klinicznym spowodowanym makroangiopatią, ryzyko jej rozwoju jest u chorych na cukrzycę zwiększone 2-4-krotnie. </p>
        </div>
      </article>

      <article class="qaa__article">
        <h3 class="heading heading__article">Przebieg choroby niedokrwiennej serca u chorych na cukrzycę ma szereg odrębności:</h3>
        <div class="card-body">
          <p class="qaa__text qaa__text--counter mb-1">Wcześniejszy rozwój choroby (przyspieszony rozwój miażdżycy tętnic wieńcowych).</p>
          <p class="qaa__text qaa__text--counter mb-1">Brak różnic związanych z płcią i wiekiem.</p>
          <p class="qaa__text qaa__text--counter mb-1">Częsty (14-40%) bezbólowy przebieg choroby, w tym także zawał serca 
    (uszkodzenie włókien układu autonomicznego).</p>
          <p class="qaa__text qaa__text--counter mb-1">Cięższy przebieg zawału, gorsza funkcja lewej komory – 2 razy wyższa śmiertelność.</p>
          <p class="qaa__text qaa__text--counter mb-1">Neuropatia cukrzycowa może prowadzić do groźnych zaburzeń rytmu.</p>
          <p class="qaa__text qaa__text--counter mb-1">Trombofilia cukrzycowa – zwiększona gotowość prozakrzepowa – gorsze wyniki interwencji wieńcowych.</p>
          <p class="qaa__text qaa__text--counter mb-1">Częste współistnienie miażdżycy w wielu naczyniach.</p>
          <p class="qaa__text qaa__text--counter mb-1">Kumulacja wielu czynników ryzyka (nadciśnienie, zaburzenia lipidowe).</p>
        </div>
      </article>
      
      <article class="qaa__article">
        <h3 class="heading heading__article">Oprócz nasilonej miażdżycy u chorych z cukrzycą stwierdza się:</h3>
        <div class="card-body">
          <p class="qaa__text qaa__text--item mb-1">zaburzenia funkcji śródbłonka</p>
          <p class="qaa__text qaa__text--item mb-1">zwiększoną aktywność płytek krwi</p>
          <p class="qaa__text qaa__text--item mb-1">nasiloną proliferację komórek w następstwie uszkodzenia naczyń</p>
          <p class="qaa__text qaa__text--item mb-1">skłonność do przebudowy tętnic</p>
          <p class="qaa__text qaa__text--item mb-1">zaburzenia fibrynolizy z tendencją do zmian zakrzepowych</p>
          <p class="qaa__text qaa__text--item mb-1">nasilenie reakcji prozapalnych</p>
        </div>
      </article>
      
      <article class="qaa__article">
        <h3 class="heading heading__article">Powikłaniom cukrzycy można w dużym stopniu zapobiegać.</h3>
      </article>

    </div>
    <div class="col-sm-0 col-md-5 col-lg-3">
      <fieldset class="p-0">
        <legend class="text-center d-inline-block font-weight-bold bg-white">Pamiętaj</legend>
          <div class="card-body">
            <p class="qaa__text qaa__text--small mb-1 mb-lg-2">Nie pal tytoniu – palenie powoduje zwiększenie ryzyka miażdżycy.</p>
            <p class="qaa__text qaa__text--small mb-1 mb-lg-2"><strong>Utrzymuj skuteczną kontrolę glukozy we krwi</strong>, przyjmując regularnie leki oraz przestrzegając diety i  zaleceń dotyczących wysiłku fizycznego 
            <p class="qaa__text qaa__text--small mb-1 mb-lg-2"><strong>Unikaj nadwagi.</strong></p>
            <p class="qaa__text qaa__text--small mb-1 mb-lg-2"><strong>Utrzymuj prawidłowe ciśnienie tętnicze i  prawidłowe stężenie lipidów we krwi</strong> – jeśli zalecono Ci leczenie farmakologiczne, zawsze regularnie przyjmuj leki, nawet gdy czujesz się dobrze.</p>
            <p class="qaa__text qaa__text--small mb-1 mb-lg-2">Zmiana stylu życia (dieta, wysiłek fizyczny, utrzymywanie odpowiedniej glikemii i  masy ciała) oraz modyfikacja czynników ryzyka, tj. nadciśnienia tętniczego czy zaburzeń lipidowych, ma nadal najważniejsze znaczenie w  zapobieganiu chorobom  sercowo-naczyniowym lub opóźnianiu ich rozwój. Jednak pacjenci z cukrzycą wymagają złożonego, obejmującego równocześnie wiele czynników, podejścia terapeutycznego.</p>
          </div>
      </fieldset>
    </div>
  </div>  
</div>