<div class="container">
  <div class="row pt-md-2 pt-xl-4">
    <div class="col-sm-12 col-lg-3">
    </div>
    <div class="col-sm-12 col-lg-9 col-xl-9">
      <h2 class="heading heading__section mt-3 mb-4">Czy wiesz, że...</h2>
      <div class="row pt-md-3">
        <div class="col-md-6">
          <img src="../images/block-2-img.png" alt="Laboratorium image" value="Pracownica laboratorium" class="img-fluid">
        </div>
        <div class="col-md-6  d-flex align-items-center mt-3 mt-lg-0">
          <p class="youKnow__text">...średnia długość życia Francuzów jest wyjątkowa na tle Europy Zachodniej, mimo ich teoretycznie niezbyt zdrowej diety i picia dużej ilości alkoholu. Alkohol ten jest jednak spożywany głównie w formie czerwonego wina zrobionego z winogron, który jest głównym źródłem resweratrolu.</p>
        </div>
      </div>
    </div>
  </div>  
</div>