<!doctype html>
<html lang="en-pl">
	<head>
		{{> partials/head}}
	</head>
	<body>
		<main class="wrapper">

			<header class="navigation">
				{{> partials/navigation}}
			</header>

			<section class="hero">
				{{> partials/hero}}
			</section>

			<section class="youKnow">
				{{> partials/youKnow}}
			</section>

			<section class="composition">
				{{> partials/composition}}
			</section>

			<section class="action">
				{{> partials/action}}
			</section>

			<section class="qaa">
				{{> partials/qaa}}
			</section>

			<section class="articles">
				{{> partials/articles}}
			</section>

			<section class="footer">
				{{> partials/footer}}
			</section>

			<p class="text-center text-muted">BIOTON S.A. ul. Starościńska 5 02-516 Warszawa Wszelkie prawa zastrzeżone</p>
			
		</main>
	</body>
</html>